src/bin/.clang-format
src/lib-engines/.clang-format
src/lib-events/.clang-format
src/lib-game/.clang-format
src/lib-app/.clang-format
src/lib-settings/.clang-format
src/tests/.clang-format
_build
level-editor/bin/stdout.txt
src/tests/include/TestHelpers/TestAssets.hpp
src/benchmark/include/RootDir.hpp
resources/levels/screens
resources/levels/test