Language: Cpp
IndentWidth: 4
ColumnLimit: '80'
NamespaceIndentation: All
AccessModifierOffset: -4
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 4
AlignAfterOpenBracket: 'AlwaysBreak'
BinPackArguments: 'false'
BinPackParameters: 'false'
PointerAlignment: Left
ReferenceAlignment: Pointer
SortIncludes: CaseSensitive
SortUsingDeclarations: true
SpaceAfterCStyleCast: false
SpaceAfterLogicalNot: false
SpaceAfterTemplateKeyword: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeCaseColon: false
SpaceBeforeCpp11BracedList: true
SpaceBeforeCtorInitializerColon: true
SpaceBeforeInheritanceColon: true
SpaceBeforeRangeBasedForLoopColon: true
SpaceBeforeSquareBrackets: false
SpacesInAngles: Never
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: WithoutElse
AlwaysBreakAfterReturnType: None
AlwaysBreakBeforeMultilineStrings: true
AlwaysBreakTemplateDeclarations: Yes
# BreakAfterAttributes: Always
BreakBeforeConceptDeclarations: Always
BreakBeforeBinaryOperators: NonAssignment
CompactNamespaces: false
BreakStringLiterals: true
Cpp11BracedListStyle: false
EmptyLineBeforeAccessModifier: Always
FixNamespaceComments: true
IncludeBlocks: Merge
QualifierAlignment: Left # Left - west const, Right - east const
ReflowComments: true
RequiresClausePosition: OwnLine
SeparateDefinitionBlocks: Always
PackConstructorInitializers: NextLine #NextLineOnly is better
BreakConstructorInitializers: BeforeComma
BreakInheritanceList: BeforeComma
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass:      true
  AfterControlStatement: true
  AfterEnum:       true
  AfterFunction:   true
  AfterNamespace:  true
  AfterObjCDeclaration: true
  AfterStruct:     true
  AfterUnion:      true
  AfterExternBlock: true
  BeforeCatch:     true
  BeforeElse:      true
  BeforeLambdaBody: true
  BeforeWhile: false
  IndentBraces:    false
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true

# Unsupported in MSVC 17.5.2
# LanguageStandard: Cpp20
# SpaceBeforeJsonColon: false
# QualifierOrder: ['inline', 'static', 'constexpr', 'volatile', 'const', 'type', ]
# RequiresExpressionIndentation: OuterScope
# NextLineOnly for PackConstructorInitializers
# BreakAfterAttributes: Always
